$greenAppColor: #3B7E88;
$moon-color: #3d4465;
$sun-color: #F6B844;
$color-text: #eaeaea;
$drop-color: rgba(0, 71, 120, 0.88);
$gray: #666666;
$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);
